<input type="text" [(ngModel)]="newTodoTaskName" />
<button (click)="addNewTask()">Add task</button>
<div>
    <a href routerLink="/list/low" routerLinkActive="active">Low</a>
    <a href routerLink="/list/normal" routerLinkActive="active">Normal</a>
    <a href routerLink="/list/high" routerLinkActive="active">High</a>
</div>
<ul>
    <li *ngFor="let todoTaskInsideFor of todos">
        <my-todo [todoTask]="todoTaskInsideFor" 
            (removeTodoTask)="removeChild($event)"></my-todo>
    </li>
</ul>