<div>
    <a href routerLink="/list/adventure" routerLinkActive="active">adventure</a>
    <a href routerLink="/list/fantasy" routerLinkActive="active">fantasy</a>
    <a href routerLink="/list/sciFi" routerLinkActive="active">sciFi</a>
    <a href routerLink="/list/comedy" routerLinkActive="active">comedy</a>
</div>
Movies
<ul>
    <li *ngFor="let movieFilmInsideFor of movies">
        <myMovie [movieFilm]="movieFilmInsideFor"
            (addMovieFilmOrder)="addChildOrder($event)"></myMovie>
    </li>
</ul>
Basket
<ul>
    <li *ngFor="let movieFilmInsideFor of order">
        <myMovie [movieFilm]="movieFilmInsideFor"
            (addMovieFilmOrder)="addChildOrder($event)"></myMovie>
    </li>
</ul>
