<div class="container">
  <div [hidden]="submitted">
    <h1>Ordering Movies</h1>
    <form [formGroup]="orderForm"  *ngIf="active"  (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>

        <input type="text" id="name" class="form-control"
               formControlName="name" required >

        <div *ngIf="formErrors.name" class="alert alert-danger">
          {{ formErrors.name }}
        </div>
      </div>

      <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" id="surname" class="form-control"
            formControlName="surname" required>

        <div *ngIf="formErrors.surname" class="alert alert-danger">
          {{ formErrors.surname }}
        </div>
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" id="phone" class="form-control"
               formControlName="phone" required>

        <div *ngIf="formErrors.phone" class="alert alert-danger">
          {{ formErrors.phone }}
        </div>
      </div>
	
	  <button type="submit" class="btn btn-default"
             [disabled]="!orderForm.valid">Submit</button>
    </form>
  </div>

  <order-submitted [order]="order" [(submitted)]="submitted"></order-submitted>
</div>

<button type="submit" class="btn btn-default" (click)="go()">Order</button>
